@import "minimal-light-no-dark-mode";

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-accent: #efa3a3;
    --color-accent-hover: #ffc4c4;
    --color-text: #edeae6;
    --color-muted: #bcb7b2;
    --color-background: #201e1d;
    --color-surface: #2c2725;
    --color-border: #443b37;
    --color-accent-soft: #442728;
  }
}
